<footer class="footer">
  <div class="footer-inner">
    <div class="footer-copy">
      <p class="footer-title">
        Let’s make it move<span class="text-pink">.</span>
      </p>
      <p class="footer-meta">2026 Design Portfolio © Company confidential</p>
    </div>

    <a
      class="footer-link"
      href="https://www.linkedin.com/in/ewa-kovalenko-motion/"
      target="_blank"
      rel="noreferrer"
    >
      <img src="../resources/linkedin.png" />
    </a>
    <a
      class="footer-link"
      href="https://www.instagram.com/mouse_digit/"
      target="_blank"
      rel="noreferrer"
    >
      <img src="../resources/instagram.png" />
    </a>
  </div>
</footer>
