<div class="hero">
  <div class="title-and-contract">
    <div class="hero-top-line">
      <p class="role">Motion designer &amp; animator</p>

      <span class="meta">
        <span class="meta-dot"></span>
        Poland · Worldwide
      </span>
    </div>

    <p class="contract-line">Contract · Freelance · 2026</p>
  </div>

  <div class="relative-block">
    <h1>
      <span class="line-centered">Bey<span class="line-anchor">o</span>nd</span>
      <span class="line line--pink">Static</span>
    </h1>
  </div>
</div>
